<!DOCTYPE html>
<html>
<head>
	<title>Demo 1</title>

	<style type="text/css">
		h3{
			text-align: center;
		}
		ul {
			position: relative;
    		left: 40%;
		}
		body {
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    padding-top: 100px;
		}
	</style>
</head>
<body>
	<h3>Hi</h3>
	<ul>
		<li><a href="http://localhost:5000/first">First</a></li>
		<li><a href="http://localhost:5000/second">Second</a></li>
	</ul>
</body>
</html>